.nav{
  grid-area: n;
  background-color: rgb(238, 9, 20);
  padding: 20px;
  
}
.item a{
  color: white;
  text-decoration: none;
}
.item a.activeLink {
color:black;
}
.item{
  padding-top: 7px;
}
.friends{
  display: flex;
}
.friend{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 10px;
}
.friend img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  
}
.item.friends a{
  margin-top: 30px;
}
