.app-wrapper{
    display: grid;
    width: 100%;
    margin: 0 auto;
grid-template-areas:
"h h"
"n c";
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
}
.app-wraper-content{
    grid-area:c;
    background-color: cornflowerblue;
}


